:root {
    --bg-color: #aea16a;
    --icon-bg-color: #c9bb9b;
    --primary-green: #677138;
    --primary-brown: #735d36;
    --primary-dark-green: #3e3625;
    --primary-coral: #C79381;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    background: var(--primary-brown);
    width: 40%;
    padding: 25px 35px;
    text-align: center;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

@media all and (max-width: 1023px) {
    .music-player {
      width: 90%; /* Overrides the desktop width on mobile */
    }
}

.details {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: #ddd;
}

.track-name{
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0;
}

.track-art{
    margin: 25px;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid #ddd;
    background-size: cover;
    background-position: center;
    box-shadow: 0 10px 60px rgba(64, 54, 37, 0.2);
}

.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.seek_slider, .volume_slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 6px;
    background: var(--primary-dark-green);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

.seek_slider::-webkit-slider-thumb, .volume_slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: var(--primary-dark-green);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 5px solid var(--icon-bg-color);
    box-shadow: 0 5px 5px rgba(64, 54, 37, 0.2);
    cursor: grab;
}

.seek_slider {
    width: 60%;
}
    
.volume_slider {
    width: 30%;
}
    
.current-time, .total-duration {
    padding: 10px;
}
    
i.fa-volume-down,i.fa-volume-up {
    padding: 10px;
}

.controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.controls div{
    width: 50px;
    height: 50px;
    margin: 5px;
    background: var(--icon-bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-dark-green);
    box-shadow: 0 10px 20px rgba(64, 54, 37, 0.2);
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.controls div:hover{
    opacity: 1.0;
}

.controls div:nth-child(3){
    /* transform: scale(1.2); */
    background-color: var(--primary-dark-green);
    color: var(--icon-bg-color);
}