:root {
    --bg-color: #aea16a;
    --icon-bg-color: #c9bb9b;
    --primary-green: #677138;
    --primary-brown: #735d36;
    --primary-dark-green: #3e3625;
    --primary-coral: #C79381;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.music-player{
    background: var(--primary-brown);
    width: 400px;
    padding: 25px 35px;
    text-align: center;
    border-radius: 10%;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

nav .circle{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: var(--icon-bg-color);
    color: var(--primary-dark-green);
    box-shadow: 0 5px 10px rgba(64, 54, 37, 0.2);
}

.song-img{
    width: 220px;
    border-radius: 50%;
    border: 8px solid #ddd;
    box-shadow: 0 10px 60px rgba(64, 54, 37, 0.2);
}

.music-player h1{
    font-size: 20px;
    font-weight: 700;
    color: #ddd;
    margin-top: 20px;
}

.music-player p{
    font-size: 14px;
    color: #ddd;
}

#progress{
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    background: var(--primary-dark-green);
    border-radius: 4px;
    cursor: pointer;
    margin: 40px 0;
}

#progress::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: var(--primary-dark-green);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 8px solid var(--icon-bg-color);
    box-shadow: 0 5px 5px rgba(64, 54, 37, 0.2);
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
}

.controls div{
    width: 50px;
    height: 50px;
    margin: 5px;
    background: var(--icon-bg-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--primary-dark-green);
    box-shadow: 0 10px 20px rgba(64, 54, 37, 0.2);
    cursor: pointer;
}

.controls div:nth-child(3){
    /* transform: scale(1.2); */
    background-color: var(--primary-dark-green);
    color: var(--icon-bg-color);
}